name: Oxlint (pokedex-engine)

on:
  push:
    branches:
      main
  pull_request:
    branches:
      main

jobs:
  oxlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cd pokedex-engine
      - run: npx --yes oxlint@latest --deny-warnings
